.network-icon li {
    margin-left: 5px;
}

.network-icon li i {
    font-size: 25px;
}

.network-icon li i:hover {
    color: black;
}

.dark .network-icon li i:hover {
    color: white;
}

.btn {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fa-ul li i {
    font-size: 28px;
    padding-top: 5px;
}

.firstname {
    font-weight: 400;
}

#talk_list {
    padding-top: 80px !important;
}

.alert-note {
    background-color: #fef6f6;
    border-color: #d21919;
    color: #d21919;
}

div.alert > div:first-child::before {
    color: #d21919;
}

